#define IDI_ICON1 101

#define STR_HELPER(x) #x
#define STR(x) STR_HELPER(x)

// The Icon
IDI_ICON1 ICON "favicon.ico"

// Version Information
1 VERSIONINFO
 FILEVERSION RC_VERSION_MAJOR, RC_VERSION_MINOR, RC_VERSION_PATCH, 0
 PRODUCTVERSION RC_VERSION_MAJOR, RC_VERSION_MINOR, RC_VERSION_PATCH, 0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // US English, Unicode
        BEGIN
            VALUE "FileDescription",  STR(RC_PROJECT_NAME)
            VALUE "FileVersion",      STR(RC_VERSION_STRING)
            VALUE "InternalName",     STR(RC_PROJECT_NAME)
            VALUE "OriginalFilename", STR(RC_FILE_NAME)
            VALUE "ProductName",      STR(RC_PROJECT_NAME)
            VALUE "ProductVersion",   STR(RC_VERSION_STRING)
            VALUE "CompanyName",      "Yerlibilgin"
            VALUE "LegalCopyright",   "Copyright (C) 2025"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END